<div class="container text-center">
  <nav class="navbar navbar-default">
      <h1>Recipes</h1>
  </nav>
</div>
<div class="container text-center">
  <% if @recipes.present? %>
   <% @recipes.each do |recipe| %>
      <div class="col-md-3">
        <div class="thumbnail text-center">
          <%= link_to recipe_path(recipe.id)  do %>
            <%= image_tag get_recipe_url(recipe.photo.url), class: 'responsive img-rounded' %>
          <% end %>
          <div class="caption">
            <h3><%= link_to recipe.title.presence, recipe_path(recipe.id) %></h3>
            <p><%= truncate(recipe.description.presence , length: 150) %></p>
          </div>
        </div>
      </div>
    <% end %>
  <% else %>
   <%= render '/shared/recipe_not_found' %>
  <% end %>
</div>
